html {
	display: flex;
	flex-direction: column;
	align-items: center;
}

body {
	max-width: 50rem;
}

matrix-room {
	display: flex;
	flex-direction: column;
}
matrix-room-state {
	display: flex;
	flex-direction: column;
}
matrix-room-name {
	font-size: 1.5rem;
}
matrix-room-context {
	margin-top: 1rem;
}
matrix-room-context button[dir] {
	display: none;
}
matrix-space-children matrix-room {
	padding: 0.5rem;
}
